---
# Front Matter
---
<!doctype html>
<html>
  <head>
    <title>Doors Store</title>
    <link rel="stylesheet" href="./css/grid.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <ul class="grid">
      <li class="card header">
        <h1>Welcome to the Doors Store</h1>
        <p>Here you will find the latest and greatest apps from our developers</p>
      </li>
      {% for file in site.pages %}{% if file.index == "yes" %}<li class="card">
        <a href="{{ site.baseurl }}/{{ file.path }}">
          <h2>{{ file.title }}</h2>
          <img src="https://raw.githubusercontent.com/{{ file.repository }}/master/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png">
        </a>
      </li>
{% endif %}{% endfor %}
    </ul>
  </body>
</html>
